{% extends 'basic.html' %}
{% block content %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="/">Главная</a></li>
            <li>О доме</li>
        </ul>

    </div>
<section class="about-house">
     <h1 class="heading">Преимущества ЖК «Парк Пушкинский»</h1>
    <p>
        Уютное месторасположение рядом со старейшим в г. Челябинске Городским садом им. А.С. Пушкина, с одной стороны, и близость развитой инфраструктуры – с другой – делают новый комплекс не только приятным, но и удобным местом проживания.
    </p>
<p>Отсутствие рядом с жилым комплексом других домов обеспечивает приватный характер проживания, без лишнего шума и суматохи густонаселенных кварталов.
</p>
<p>Будущие жители ЖК «Парк Пушкинский» – абсолютно городские жители. С городом связана их работа, их бизнес, отдых и спорт, друзья и развлечения, хорошие школы и развивающие центры для детей. Город позволяет им находиться в центре событий, задает ритм их жизни.
</p>
<p>Единая концепция благоустройства объединяет проект в дом-парк. Полноценная многофункциональная инфраструктура включает в себя:
</p>
<p>Необходимое количество парковочных мест, закрытую территорию двора с ограждением, автоматическими
    воротами и калитками, системы контроля доступа – калитки и входные двери в жилой дом, оборудованные</p>
    <ul>
    <li>видеодомофонной связью, электромагнитными замками и электронными ключами;</li>
    <li>Обзорное видеонаблюдение;</li>
    <li>Оборудование жилых секций системами пожарной сигнализации, оповещения при пожаре и системой
    автоматического дымоудаления;</li>
    <li>Возможность организации службы консьержей и профессиональной круглосуточной охраны.</li>
    <li>Управляющей компании – из холла вестибюля.</li>
</ul>

<p>Архитектурное решение ЖК «Парк Пушкинский» получило призовое место на VII региональном смотре-конкурсе архитектурных и дизайнерских проектов 2014 г. «Модулор» в номинации «Жилые здания».
</p>
<p>В отделке фасада использован кирпич модной гаммы и вентилируемый фасад. Современная европейская отделка на каждом этаже. Улучшенные места общего пользования, такие как лифтовые и межквартирные холлы, вестибюль первого этажа. В доме будут установлены современные и качественные лифты.
</p>
<p>Возможность объединения расположенных рядом (граничащих стенами) квартир позволяет создать жилое пространство любой площади и конфигурации. Особенности квартир – свободная планировка.
</p>
<p>Площадь квартир от 29 до 130 м2 с гардеробной и двумя санузлами. Конструкции и инженерные коммуникации отличаются особым качеством и высокой надёжностью.
</p>
<p>Регламентные работы на инженерных системах, снятие показаний со счетчиков не требуют доступа работников службы эксплуатации в квартиры, при авариях в системах отопления или водоснабжения в квартире можно перекрыть подачу воды в считанные минуты, даже если хозяев нет дома, что позволяет предотвратить катастрофические многоэтажные затопления, не лишая других жильцов воды и тепла.
</p>
<p>Спортивная и детская площадки на территории комплекса подчеркнут правильный выбор при покупке недвижимости.
</p>
</section>
{% endblock %}

