{% load static %}
<!DOCTYPE html>
<html lang="ru">
<!-- by SKIBORG https://vk.com/skib_org-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ДОМ-2</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    {% include 'header.html' %}
    <div class="header-bg">
        <div class="container1 ">
            <div class="header-main">
                <img src="{% static 'img/header-main.jpg' %}" class="map" usemap="#image-map">

                <map  name="image-map">
                    <area  alt="12" title="Этаж 13" href="{% url 'flour' 13 %}" coords="144,245,719,57,806,131,807,153,719,81,144,262" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="11" title="Этаж 12" href="{% url 'flour' 12 %}" coords="144,263,719,82,807,153,806,189,719,122,142,281" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="10" title="Этаж 11" href="{% url 'flour' 11 %}" coords="143,281,719,121,807,187,807,222,720,163,142,305" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="9" title="Этаж 10" href="{% url 'flour' 10 %}" coords="144,305,719,163,807,222,807,257,718,202,144,328" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="8" title="Этаж 9" href="{% url 'flour' 9 %}" coords="143,328,720,202,808,257,807,289,720,246,143,353" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="7" title="Этаж 8" href="{% url 'flour' 8 %}" coords="143,353,720,247,816,295,814,330,720,288,143,379" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="6" title="Этаж 7" href="{% url 'flour' 7 %}" coords="143,379,719,288,815,329,816,363,720,328,143,402" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="5" title="Этаж 6" href="{% url 'flour' 6 %}" coords="144,402,724,328,816,365,816,396,729,371,144,429" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="4" title="Этаж 5" href="{% url 'flour' 5 %}" coords="149,429,727,371,816,397,815,433,726,411,150,451" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="3" title="Этаж 4" href="{% url 'flour' 4 %}" coords="149,452,726,412,814,432,815,466,726,453,149,474" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="2" title="Этаж 3" href="{% url 'flour' 3 %}" coords="149,473,726,453,816,466,817,500,727,495,149,499" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                    <area  alt="1" title="Этаж 2" href="{% url 'flour' 2 %}" coords="183,499,726,495,817,500,816,530,729,537,184,522" shape="poly" data-maphilight='{"strokeColor":"94d7fb","strokeWidth":1,"fillColor":"94d7fb","fillOpacity":0.6}'>
                </map>
            </div>
        </div>
    </div>
</header>
<section class="about">
    <div class="container">
        <h1 class="heading">
            дом вашей мечты
        </h1>
        <p>
            Жилой комплекс «Парк Пушкинский» - это благоустроенный оазис современного комфорта в самом сердце Челябинска. Уютное месторасположение, рядом со старейшим на Южном Урале Городским садом с одной стороны и, близость развитой инфраструктуры с транспортными развязками, с другой – делают новый комплекс не только приятным, но и удобным местом проживания.
        </p>
        <p>
            Относительная уединенность постройки обеспечивает приватный характер проживания, без лишнего шума и суматохи густонаселенных кварталов. Отдельный вход в городской сад им. А.С. Пушкина создает дополнительные преимущества для семей с детьми, молодежи, поклонников отдыха на свежем воздухе. Умиротворяющая атмосфера и потенциал парковой зоны – эксклюзивные достоинства каждой квартиры в центре Челябинска, относящейся к ЖК «Пушкинский».
        </p>
        <a href="{% url 'about' %}">подробнее</a>
        <div class="about-call-to-action" >
            Приходите! Индивидуальный подход к каждому клиенту!
        </div>

        <div class="about-call-to-action">
            Жилой дом адресно относиться к гимназии №80 и поликлинике ОАО РЖД Дорожная клиническая больница.
        </div>

        <div class="about-features">
            <div class="about-feature-items">
                <img src="{% static 'img/feature-icon1.png' %}" alt="">
                <p>
                    Современная европейская<br>отделка на каждом этаже
                </p>
                <img src="{% static 'img/feature-icon2.png' %}" alt="">
                <p>
                    2 грузопассажирских<br>лифта фирмы ОТИС
                </p>
                <img src="{% static 'img/feature-icon3.png' %}" alt="">
                <p>
                    жилая площадь<br>13000 кв.м
                </p>
            </div>
            <div class="about-feature-items">
                <img src="{% static 'img/feature-icon4.png' %}" alt="">
                <p>
                    Площадь коммерческой<br>недвижимости 800 кв.м
                </p>
                <img src="{% static 'img/feature-icon5.png' %}" alt="">
                <p>
                    Безопасность<br>Закрытая территория
                </p>
                <img src="{% static 'img/feature-icon6.png' %}" alt="">
                <p>
                    Пешая доступность до всей<br>городской инфраструктуры
                </p>
            </div>
            <div class="about-feature-items">
                <img src="{% static 'img/feature-icon7.png' %}" alt="">
                <p>
                    Отдельный согласованный<br>вход в Парк Пушкина
                </p>
                <img src="{% static 'img/feature-icon8.png' %}" alt="">
                <p>
                    Отсуствие рядом с жилым<br>комплексом других домов
                </p>
                <img src="{% static 'img/feature-icon9.png' %}" alt="">
                <p>
                    теннисный корт и детская<br>
                    площадка на территории комплекса
                </p>
            </div>
        </div>
    </div>
</section>
<section class="news">
    <div class="container">
        <div class="news-inner">
            <div class="ad-banner">
                <img src="{% static 'img/ad-banner.jpg' %}" alt="">
            </div>
            <div class="news-items">
                <a class="big-link" href="#">все новости</a>
                {% for news_item in last_news %}
                    <div class="news-item">
                        <img width="290" height="107" src="{{ news_item.image.url }}" alt="">
                        <div class="news-item-info">
                            <span>{{ news_item.created }}</span>
                             <a href="{% url 'news' news_item.slug %}">{{ news_item.short_descr }}</a>
                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>
        <a class="big-link" href="#">все акции</a>
    </div>
</section>
<section class="credit">
    <div class="container">
        <h3>ипотека</h3>
        <div class="credit-banks">
            <div class="bank">
                <p>Ипотечное кредитование</p>
                <img src="{% static 'img/bank1.jpg' %}" alt="">
                <span>Контактный телефон +7 351 211 24 00</span>
                <button class="btn-blue">перейти на сайт</button>
            </div>
            <div class="bank">
                <p>Ипотечное кредитование</p>
                <img src="{% static 'img/bank2.jpg' %}" alt="">
                <span>Контактный телефон: 8 800 555 55 50</span>
                <button class="btn-blue">перейти на сайт</button>
            </div>
            <div class="bank">
                <p>Ипотечное кредитование</p>
                <img src="{% static 'img/bank3.jpg' %}" alt="">
                <span>Контактный телефон: +7 351 268 94 93</span>
                <button class="btn-blue">перейти на сайт</button>
            </div>
        </div>
    </div>

</section>
<section class="photos">
    <div class="container">
        <h3>фотостройка</h3>
        <div class="photos-items">
            {% for album in albums %}
                <div class="photos-item">
                    <img style="display: block;" src="{{ album.image.url }}" alt="">
                    <a href="{% url 'album'  album.name_slug%}" class="big-link">{{ album.name }}</a>
                </div>
            {% endfor %}
        </div>
        <a class="big-link" href="{% url 'albums' %}">Все фотоальбомы</a>
    </div>
</section>
<section class="location">

</section>
{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.map').maphilight();
    });</script>
</body>
</html>