{% extends 'basic.html' %}
{% load static %}
{% block content %}
   <div class="breadcrumbs">
        <ul>
            <li><a href="/">Главная</a></li>

            <li>Новости</li>
        </ul>

    </div>
<section class="all-news">
     <h1 class="heading-big mb-20">Новости</h1>
     <div class="news-items">
         {% for news_item in news %}
                <div class="news-item mb-20">
                    <img src="{{ news_item.image.url }}" alt="">
                    <div class="news-item-info">
                        <span>{{ news_item.created }}</span>
                        <a href="{% url 'news' news_item.slug %}">{{ news_item.short_descr }}</a>
                    </div>
                </div>
         {% endfor %}
            </div>
</section>


{% endblock %}

{% block js %}

{% endblock %}






