.about
  background: #ffe1b5
  height: 800px

  p
    //font-family: "Bebas Neue Regular", sans-serif
    font-family: Arial,sans-serif
    font-size: 15px
    color: $text-color-orange
    margin-bottom: 30px
  a
    display: block
    text-align: center
    font-family: Arial,sans-serif
    color: $link-color-blue
    margin-bottom: 40px
    text-decoration: underline

.about-features
  margin-top: 40px
  display: grid
  grid-template-columns: 1fr 1fr 1fr

.about-feature-items
  img
    float: left
    margin-right: 10px
  p
    font-family: "Bebas Neue Regular", sans-serif
    font-size: 20px

.about-call-to-action
  height: 45px
  margin: 10px auto 0 auto
  padding: 34px 10px 10px 10px
  font-size: 15px
  border: 5px solid red
  font-weight: bold
  background: #E2FFE7
  font-family: 'Arial',sans-serif
  color: #4e3000
  text-align: center

.about-house
  margin-bottom: 40px
  p
    font-family: 'Arial',sans-serif
    font-size: 16px
    margin-bottom: 10px
  ul
    padding-left: 16px
    li
      list-style: disc
      font-family: 'Arial',sans-serif
      font-size: 16px
