@media screen and  (max-width: 1024px)
  .how-it-works-items
    justify-content: center

  .dash-pink
    width: 200px !important

  .dash-grey
    width: 200px !important

@media screen and  (max-width: 768px)
  .offer-text
    flex-basis: 379px
  .how-it-works-items
    justify-content: center

  .dash-pink
    width: 130px !important

  .dash-grey
    width: 130px !important

  .our-work-items
    justify-content: space-evenly !important
  .our-work-item-wrapper
    //width: calc(100% / 9 * 4)
    margin-bottom: 10px

  .features
    margin-bottom: 50px
  .feature-items
    grid-template-columns: repeat(auto-fit, minmax(500px, auto))

  .feature-item
    //width: calc(100% / 12 * 4)
    //margin-bottom: 20px

@media screen and  (max-width: 425px)
  .logo
    margin-bottom: 10px
    span
      display: none
  .logo2
    margin-bottom: 10px
    span
      display: none
  .header-location
    margin-bottom: 10px
  .header-phones
    margin-bottom: 10px
  .header-top
    flex-direction: column
    align-items: center
    margin-bottom: 50px
  .offer-text
    flex-basis: 100%
  .offer-form-wrapper
    display: none
  .modal-form
    display: block
  .feature-items
    grid-template-columns: repeat(auto-fit, minmax(320px, auto))
  .dash-pink
    display: none
  .dash-grey
    display: none
  .footer-top
    flex-direction: column
    align-items: center