.header-top-inner
  max-width: 1000px
  margin: 0 auto
  display: flex
  align-items: center
  height: 55px
  justify-content: space-between

.header-top
  height: 55px
  background: radial-gradient(#4f2f01 0% , #301d02 100%)

.orange
  color: #f9b657 !important

nav
  margin-left: 20px
  ul
    display: flex
    li
      font-family: "Bebas Neue Regular",sans-serif
      font-size: 22px
      text-transform: uppercase
      margin-right: 20px

      a
        text-decoration: none
        color: #ffffff

.header-phone
  display: flex
  align-items: center
  padding: 0 15px



.header-phone
    background: linear-gradient(0deg, rgb(125,229,255) 0%, rgb(216,247,255) 100%)
    color: #015f6d
    font-family: "Bebas Neue Bold",sans-serif
    font-size: 20px
    height: 100%

    span
      font-size: 30px


.header-bg
  background: url('../img/header-bg.jpg') center 0 no-repeat