$text-color-orange: #4e3000
$link-color-blue: #005c83
$link-color-blue-hover: #0082dc
.container
  max-width: 960px
  padding: 0 20px
  margin: 0 auto



.container1
  max-width: 1000px
  padding-left: 39px
  margin: 0 auto

.heading
  font-family: "Bebas Neue Regular",sans-serif
  font-size: 34px
  text-transform: uppercase
  text-align: center
  color: $text-color-orange
  padding: 20px 0

.big-link
  font-family: "Bebas Neue Regular", sans-serif
  font-size: 28px
  text-decoration: underline
  color: $link-color-blue
  &:hover
    color: $link-color-blue-hover

.btn-blue
  border: none
  background: #00ccff
  color: #ffffff
  font-family: "Bebas Neue Regular", sans-serif
  font-size: 22px
  padding: 5px 23px
  border-radius: 3px
  box-shadow: 0 5px 0 0 #00adff
  cursor: pointer

  &:hover
    box-shadow: 0 2px 0 0 #00adff



