{% load static %}
<footer>
    <div class="footer-line">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-copyright">
                   <p>Жилой комплекс «Парк Пушкинский» ©, 2015</p>
                </div>
                <div class="footer-astrapromo">
                    <img src="{% static 'img/astra-logo.png' %}" alt="">
                   <p>Создание и продвижение сайтов <a href="https://www.astrapromo.ru">Аstrapromo</a><br>
                       <a href="#">информация о проекте</a></p>
                </div>


            </div>

        </div>

    </div>

</footer>

<!--div id="myModal" class="modal">


  <div class="modal-content">



 <div class="modal-form offer-form-wrapper">

                <div class="offer-form-inner">
                    <div class="modal-header"> <h3>Узнайте точную стоимость дома</h3> <span class="close">&times;</span></div>


                    <p>Заполните форму и мы сами перезвоним вам <span>через 15 секунд</span></p>

                    <form class="header-call-back-form">
                        <input type="text" class="custom-input" name="client-name" placeholder="Как к Вам обращаться?">
                        <input type="text" class="custom-input" name="client-phone" placeholder="Ваш сотовый номер">
                        <button type="submit" class="form-submit">Узнать стоимость</button>
                        <p>Нажимая на кнопку, вы принимаете <a href="#">условия передачи данных</a></p>
                    </form>
                </div>


            </div>


  </div>

</div>

<script defer src="js/main.js"></script-->