
    <div class="header-top">

        <div class="header-top-inner">
            <nav>
                <ul>
                    <li><a href="/">главная</a></li>
                    <li><a href="{% url 'about' %}">о доме</a></li>
                    <li><a class="orange" href="#">проектная декларация</a></li>

                    <li><a href="#">ипотека</a></li>
                    <li><a href="{% url 'news' 'all' %}">новости</a></li>

                    <li><a href="#">контакты</a></li>


                </ul>

            </nav>
            <div class="header-phone"><p>8 (351)<span>777-49-50</span></p> </div>
        </div>


    </div>